.main-double-board {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.options-card-header {
  transform: translateY(+30px);
  background-color: var(--surface-section);
  width: fit-content;

  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
}

.matrix-container {
  min-width: 700px;
  margin-right: 50px;
}
.option-menu-container {
  min-width: 500px;
}

@media (max-width: 768px) {
  .matrix-container {
    min-width: 100%;
    margin-right: 0px;
  }
  .option-menu-container {
    min-width: 100%;
  }
}

:host ::ng-deep .password-room-creation {
  width: 100%;
  input {
    width: 100%;
  }
}

