<div class="main-double-board py-5">
  <ng-container *ngTemplateOutlet="matrixTemplate; context:{matrix:userMatrix}"></ng-container>
  <ng-container *ngTemplateOutlet="optionMenuTemplate"></ng-container>
</div>

<ng-template #matrixTemplate let-matrix="matrix">
  <div class="matrix-container">
    <minesweeper-game-matrix
      [matrix]="matrix"
      [currentConfig]="currentConfig"
      (cellClicked)="matrix.reveal($event)"
    ></minesweeper-game-matrix>
  </div>
</ng-template>

<ng-template #optionMenuTemplate>
  <div class="option-menu-container">
    <div class="d-flex justify-content-center my-4">
      <p-selectButton
        [options]="difficultyOptions"
        [(ngModel)]="selectedDifficulty"
        (onChange)="difficultyChange()"
        styleClass="mt-3"
      >
        <ng-template let-item> {{item | titlecase}} </ng-template>
      </p-selectButton>
    </div>

    <div class="config-manager">
      <div class="options-card-header my-0 mx-3 p-2">
        <h3 class="text-center">
          Configuration: <span class="text-colored">{{ selectedDifficulty | titlecase }}</span>
        </h3>
      </div>

      <p-card>
        <ul>
          <li>
            <h4>
              Size:
              <span class="difficulty-color-{{selectedDifficulty}}"
                >{{currentConfig.size}} x {{currentConfig.size}}</span
              >
            </h4>
          </li>
          <li>
            <h4>
              Cells:
              <span class="difficulty-color-{{selectedDifficulty}}"
                >{{currentConfig.size * currentConfig.size}}</span
              >
            </h4>
          </li>
          <li>
            <h4>
              Bombs:
              <span class="difficulty-color-{{selectedDifficulty}}">{{currentConfig.bombs}}</span>
            </h4>
          </li>
        </ul>

        <div class="d-flex justify-content-center">
          <p-selectButton
            [options]="['Multiplayer', 'Offline']"
            [(ngModel)]="networkGamemode"
          ></p-selectButton>
        </div>

        <div *ngIf="networkGamemode == 'Multiplayer'" class="d-flex">
          <p-password
            [(ngModel)]="roomPassword"
            [feedback]="false"
            [toggleMask]="true"
            placeholder="Insert a password if you want a private room!"
            styleClass="password-room-creation w-100"
            class="w-100 m-2 animate__animated animate__bounceIn"
          ></p-password>
        </div>
      </p-card>

      <div class="d-flex justify-content-center my-4">
        <button
          pButton
          class="p-button-lg"
          type="button"
          icon="pi pi-check"
          iconPos="left"
          label="Play!"
          (click)="onPlayButton()"
        ></button>
      </div>
    </div>
  </div>
</ng-template>
