.avatar {
  cursor: pointer;
}

.menubar-end-container {
  position: relative;
  height: 0;
  .menubar-end {
    width: 100%;
    height: 250px;
    background-color: red;
    border-radius: var(--border-radius);
    position: absolute;

    transform: translateY(50px);
    z-index: -1;

    background-color: #343e4d;
    padding-bottom: 10px;
  }
}
