<div
  class="matrix-container matrix-sized-{{currentConfig.size}}"
  [style.grid-template-columns]="gridTemplateFrString"
>
  <ng-container *ngFor="let row of matrix; let rowIdx = index">
    <div
      *ngFor="let cell of row; let colIdx = index"
      class="matrix-cell"
      [class.revealed]="cell.revealed"
      [class.empty]="cell.revealed && cell.nearBombs == 0 && !cell.bomb"
      [class.darker]="(rowIdx % 2 + colIdx) % 2"
      (click)="cellClicked.emit(cell)"
      (contextmenu)="onRightClick($event, cell)"
    >
      <ng-container *ngIf="cell.revealed">
        <img
          *ngIf="cell.bomb"
          src="assets/minesweeper/bomb.png"
          class="h-90 cell-image animate__animated animate__bounceIn"
        />
        <span *ngIf="!cell.bomb" class="m-0 p-0 near-bombs-text near-{{cell.nearBombs}}"></span>
      </ng-container>
      <ng-container *ngIf="cell.revealed == false">
        <img
          *ngIf="cell.flagged == 'flag'"
          src="assets/minesweeper/red_flag.png"
          class="cell-image"
        />
        <img
          *ngIf="cell.flagged == 'question'"
          src="assets/minesweeper/question_mark.png"
          class="cell-image h-75"
        />
      </ng-container>
    </div>
  </ng-container>
</div>

<!-- This is done to pre-load images -->
<img
  *ngFor="let img of ['bomb','red_flag','question_mark']"
  src="assets/minesweeper/{{img}}.png"
  class="d-none"
/>
