@use "sass:string";

$cell_colors: (
  1: blue,
  2: green,
  3: red,
  4: darkblue,
  5: darkred,
  6: teal,
  7: black,
  8: grey,
);

.matrix-container {
  display: grid;
  grid-gap: 0px;
  font-size: 13px;
  justify-content: center;
  font-weight: bolder;

  &.matrix-sized-8 {
    font-size: 2rem;
  }
  &.matrix-sized-30 {
    font-size: 9px;
    @media (max-width: 992px) {
      font-size: 7px;
    }
    @media (max-width: 768px) {
      font-size: 9px;
    }
  }

  .matrix-col {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1;
    position: relative;

    // style and colors
    border: 1.5px solid;
    background-color: #cdd4de;
    border-top-color: #f5f6f8;
    border-right-color: #90949b;
    border-bottom-color: #7b7f85;
    border-left-color: #f0f2f5;

    &.revealed {
      background-color: #c9d0da;
      border-top: 1.5px solid #b9bfc8;
      border-right: 1.5px solid #b9bfc8;
      border-bottom: 1.5px solid #b9bfc8;
      border-left: 1.5px solid #b9bfc8;
      border-radius: 0;
    }
  }
}

.bomb-image {
  position: absolute;
  width: 100%;
  transform: translateY(-2px);
}

.near-bombs-text {
  @each $i, $color in $cell_colors {
    &.near-#{$i} {
      color: $color;
      &::after {
        content: string.quote(#{$i});
      }
    }
  }
}
