.custom-container {
  width: 98%;
  min-height: 30vh;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--surface-ground);
  border-radius: var(--border-radius);
  color: var(--text-color);
  padding: 0px 1%;
}
