<div class="offline-game-container py-4 w-100">
  <minesweeper-game-matrix
    [matrix]="matrix"
    [currentConfig]="gameConfig"
    (cellClicked)="onCellClicked($event)"
    (cellRightClicked)="onCellRightClicked($event)"
    class="game"
  >
  </minesweeper-game-matrix>

  <div class="side-panel">
    <!-- flags used-->
    <div class="flags-used d-flex mx-2">
      <img src="assets/minesweeper/red_flag.png" alt="flags-used" width="30px" height="30px" />
      <h3>: {{ gameConfig.bombs - usedFlags}}</h3>
    </div>

    <!-- Difficulty -->
    <h3 class="mx-2">
      Difficulty:
      <span class="difficulty-color-{{selectedDifficulty}}"
        >{{selectedDifficulty | titlecase}}</span
      >
    </h3>

    <!-- Restart with new diff -->
    <div class="mx-2">
      <div class="d-flex">
        <p-selectButton [options]="allDifficulties" [(ngModel)]="nextDifficulty"></p-selectButton>

        <button
          pButton
          class="p-button ml-2"
          type="button"
          icon="pi pi-refresh"
          iconPos="left"
          label="Restart"
          (click)="initializeGame(nextDifficulty)"
        ></button>
      </div>
      <div
        class="mt-1 animate__animated animate__faster"
        [class.animate__fadeIn]="nextDifficulty !== selectedDifficulty"
        [class.animate__fadeOut]="nextDifficulty == selectedDifficulty"
        style="color: var(--yellow);"
      >
        Click restart to change difficulty
      </div>
    </div>

    <ng-container [ngSwitch]="matrix.status">
      <div class="">
        <div class="animate__animated animate__bounceIn" *ngSwitchCase="'win'">
          <h1 style="color: var(--green);">You win!</h1>
        </div>
        <div class="animate__animated animate__bounceIn" *ngSwitchCase="'game over'">
          <h1 style="color: var(--red);">You Lose!</h1>
        </div>
      </div>
    </ng-container>
  </div>
</div>
