<p>minesweeper-game works!</p>

<div class="main-double-board">
  <div class="row">
    <div class="col-12 col-md-6">
      <ng-container *ngTemplateOutlet="matrixTemplate; context:{matrix:userMatrix}"></ng-container>
    </div>
    <div class="col-12 col-md-6">
      <ng-container *ngTemplateOutlet="matrixTemplate; context:{matrix:enemyMatrix}"></ng-container>
    </div>
  </div>

  <ng-template #matrixTemplate let-matrix="matrix">
    <table>
      <tbody>
        <tr *ngFor="let row of matrix; let i = index">
          <td *ngFor="let col of matrix[i]" class="game-cell"></td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
