.main-double-board {
  width: 100%;
}
.matrix-wrapper {
  .matrix-container {
    display: grid;
    grid-gap: 0px;

    .matrix-col {
      cursor: pointer;
      background-color: #c0c0c0;
      border: 1.5px solid;
      border-top-color: #ffffff;
      border-right-color: #7b7b7b;
      border-bottom-color: #7b7b7b;

      aspect-ratio: 1;
    }
  }
}
