<div class="d-flex justify-content-end">
  <p-selectButton
    [options]="difficultyOptions"
    [(ngModel)]="selectedDifficulty"
    (onChange)="difficultyChange()"
    styleClass="my-1"
  >
    <ng-template let-item> {{item | titlecase}} </ng-template>
  </p-selectButton>
</div>

<div class="main-double-board">
  <div class="container">
    <ng-container *ngTemplateOutlet="matrixTemplate; context:{matrix:userMatrix}"></ng-container>
  </div>
</div>

<ng-template #matrixTemplate let-matrix="matrix">
  <div class="matrix-wrapper">
    <div
      class="matrix-container"
      [style.grid-template-columns]="'repeat(' + currentConfig.size + ',minmax(20px, 1fr))'"
    >
      <ng-container *ngFor="let row of matrix; let i = index">
        <div *ngFor="let col of row" class="matrix-col"></div>
      </ng-container>
    </div>
  </div>
</ng-template>
