<div class="d-flex align-items-center flex-wrap py-2" style="background-color: var(--primary);">
  <img src="assets/minesweeper/bomb.png" alt="minesweeper bomb" height="45px" class="ml-2" />
  <div class="m-1">
    <p-multiSelect
      (onChange)="onDifficultyChange()"
      [(ngModel)]="selectedDificulties"
      [options]="dificulties"
      [maxSelectedLabels]="0"
      [filter]="false"
      [showHeader]="false"
      optionLabel="difficulty"
      placeholder="Select a difficulty."
    >
      <ng-template let-value pTemplate="selectedItems">
        <div class="d-inline" *ngFor="let option of selectedDificulties; let idx = index">
          <p class="d-inline">
            {{option.difficulty | titlecase}}{{idx == selectedDificulties.length-1 ? '.' : ', '}}
          </p>
        </div>
        <div *ngIf="selectedDificulties.length === 0">
          Select a difficulty.
        </div>
      </ng-template>
      <ng-template let-value pTemplate="item">
        {{value.difficulty | titlecase}}
      </ng-template>
    </p-multiSelect>
  </div>

  <div class="m-1">
    <button
      pButton
      type="button"
      icon="pi pi-refresh"
      iconPos="left"
      label="Refresh"
      class="p-button-raised p-button-warning"
      (click)="getRooms()"
    ></button>
  </div>

  <div class="m-1">
    <button
      pButton
      type="button"
      class="p-button-raised p-button-primary"
      routerLink="/minesweeper/create"
    >
      Create room
    </button>
  </div>
</div>

<!-- Room list-->
<div class="container pb-2">
  <div *ngFor="let room of filteredRooms" class="room">
    <p-toolbar styleClass="m-2 p-2 room-toolbar">
      <div class="p-toolbar-group-left">
        <!-- avatar-->
        <p-avatar
          size="large"
          [image]="room.metadata?.creator?.picture || ''"
          shape="circle"
        ></p-avatar>
        <!-- room info-->
        <div class="d-flex flex-column">
          <span class="m-0 ml-2"
            >Creator:
            <p class="d-inline text-primary">{{room.metadata.creator.given_name}}</p></span
          >
          <span class="m-0 ml-2"
            >Players:
            <p class="d-inline text-primary">{{room.clients}}/{{room.maxClients || 'x'}}</p></span
          >
        </div>
      </div>

      <div class="p-toolbar-group-right">
        <!-- lock -->
        <button
          *ngIf="room.metadata.isPrivate"
          pButton
          type="button"
          class="p-button-warning p-button-outlined p-button-rounded p-button-sm mr-2"
          icon="pi pi-unlock"
        ></button>

        <!-- action buttons -->
        <button
          pButton
          type="button"
          icon="pi pi-arrow-up"
          iconPos="left"
          label="Join"
          class="p-button-primary p-button-sm"
          (click)="getRooms()"
        ></button>
      </div>
    </p-toolbar>
  </div>
</div>
